{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-fluid home p-5">
        <h1>Museum REST API</h1>
        <p>An app to track art objects at the Metropolitan Museum of Art.</p>
    </div>
{% endblock %}